img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.img-container { 
    float: left;    
    width: 200px; 
    height: 200px;
    margin: 20px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
    overflow: hidden;
    transition: all .15s ease-in-out;
}

.img-container:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,.15),0 10px 10px rgba(0,0,0,.12);
    transition: .1s
  }