.bg-primary,
.container-wrapper {
    background-color: rgba(255,255,255)!important;
    box-shadow: 0 14px 18px rgba(0,0,0,.05),0 10px 10px rgba(0,0,0,.02);
}

.container-wrapper {        
    color: rgba(59,125,23); }

a { color: rgba(59,125,23); }

.navbar { padding: 10px; font-weight: 700; }

.score { font-size: 1.5em;}